Debug/Exe/vga.out
Debug/Exe/vga.out
Debug/List/vga.map
Debug/Obj/main.o
Debug/Obj/main.pbi
Debug/Obj/main.pbi.cout
Debug/Obj/startup.o
Debug/Obj/startup.pbi
vgaCustomSfr.sfr
settings/vga.dbgdt
Debug/Obj/vga.pbd
Debug/Obj/vga.o
Debug/Obj/vga.pbd.browse
settings/vga.dni
settings/vga.cspy.bat
Debug/Obj/startup.pbi.cout
vga.dep
settings/vga.wsdt
